<!DOCTYPE html>
<html lang="en" ng-app="ngApp">
	<head>
	{% block head %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}DidUngar/BootstrapBundle{% endblock %}</title>

        <!-- SPELLS -->
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
            <style>
            #content{ padding:0 25px 0 25px; }
            </style>
        {% endblock %}
        <!-- SCROLLS -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script id="angularScript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1">

	{% endblock %}
	</head>
	<body ng-controller="ngCtrl">
		{% block sidebar %}
			<nav id="navbar" class="navbar navbar-inverse"><div class="container-fluid"><div class="navbar-header">
				<ul class="nav navbar-nav">
				{% block sidebar_items %}
					<li><a href="/">Home</a></li>
				{% endblock %}
				</ul>
			{% block sidebar_end %}{% endblock %}
			</div></div></nav>
		{% endblock %}
		{% block flash %}
			{# On affiche tous les messages flash #}
			{% for message in app.session.flashbag.get('info')  %}
				<div class="alert alert-info" role="alert">{{ message }}</div>
			{% endfor %}
			{% for message in app.session.flashbag.get('notice')  %}
				<div class="alert alert-info" role="alert">{{ message }}</div>
			{% endfor %}
			{% for message in app.session.flashbag.get('warning')  %}
				<div class="alert alert-warning" role="alert">{{ message }}</div>
			{% endfor %}
			{% for message in app.session.flashbag.get('error')  %}
				<div class="alert alert-danger" role="alert">{{ message }}</div>
			{% endfor %}
			{% for message in app.session.flashbag.get('success')  %}
				<div class="alert alert-success" role="alert">{{ message }}</div>
			{% endfor %}
		{% endblock %}

        <section id="content">
            {% block body %}{% endblock %}
        </section>
        <section id="footer">
            {% block footer %}{% endblock %}
        </section>
		{% block javascripts %}
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% endblock %}
	</body>
</html>
